<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="echoService" class="org.zxc.zing.demo.server.impl.DemoServiceImpl" />

    <bean class="org.zxc.zing.server.remote.RemoteServiceBean" init-method="init">
        <property name="serviceName" value="org.zxc.zing.demo.api.DemoService"/>
        <property name="serviceImpl" ref="echoService"/>
    </bean>

</beans>
